<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs110.mycity"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="MyCity tests"
        android:targetPackage="com.cs110.mycity" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.cs110.mycity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs110.mycity.MappingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs110.mycity.Chat.BuddyView"
            android:label="@string/app_name"
            android:parentActivityName="com.cs110.mycity.MappingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs110.mycity.MappingActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs110.mycity.Chat.ChatView"
            android:label="@string/app_name"
            android:parentActivityName="com.cs110.mycity.Chat.BuddyView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs110.mycity.Chat.BuddyView" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cs110.mycity.Chat.GroupChatView"
            android:label="@string/app_name"
            android:parentActivityName="com.cs110.mycity.MappingActivity" >
           
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.cs110.mycity.UserContent"
            android:label="@string/app_name"
            android:parentActivityName="com.cs110.mycity.MappingActivity" >
           
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".Chat.SocketListener"
            android:enabled="true" />
        <service
            android:name=".MapService"
            android:enabled="true" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />
        <uses-library android:name="android.test.runner" />
    </application>

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>